# ====================================================================================
# IDE / Editor / OS specific
# ====================================================================================
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# ====================================================================================
# Environment files - VERY IMPORTANT!
# ====================================================================================
# Ignore all local environment files...
.env
.env.*
# ...but DO NOT ignore the example files. This allows them to be in Git.
!/.env.example
!/.env.*.example

# ====================================================================================
# Go specific
# ====================================================================================
# Vendored dependencies
vendor/

# Go workspace file
go.work

# ====================================================================================
# Build artifacts & Binaries
# ====================================================================================
# Directory for binaries
bin/

# Standalone binary files
*.exe
*.out
*.test
main

# ====================================================================================
# Project specific
# ====================================================================================
# Test coverage files
coverage.out
coverage.html

# Log files
*.log

# Temporary files created by the user
tree.txt